
html,body{
	font-family:Verdana,sans-serif;
	font-size:15px;
	line-height:1.5;
	height: 100%;
	width: 100%
}

body{
	margin: 0px;
	padding: 0px;
}

html {
	/*overflow-x: hidden;*/
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}

h1,h2,h3,h4,h5,h6{
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin: 0px 0
}

hr{
	border:0;
	border-top:1px solid #eee;
	margin:0px 0
}

div {
	padding-left: 0px;
}

a {
	text-decoration: none;
	background-color: transparent;
	color: inherit;
}

a:hover {
	outline-width: 0;
}

button,input,select,textarea,optgroup {
	font:inherit;
	margin:0;
	background-color: inherit;
	color: inherit;
}

.abc {
	color: blue;
	transition: color 0.2s ease-in-out;
}

.abc:hover {
	color: red;
}

.w3-serif{
	font-family:serif
}


.w3-wide{
	letter-spacing:4px
}

.card {
	/*width: 250px;*/
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	/*text-align: center;*/
}
.w3-sidebar {
	height:100%;
	width:250px;
	max-width: 300px;
	min-width: 180px;
	background-color:#fff;
	position:fixed;
	z-index:1;
	overflow:none;
	display: inline-block;
}

.w3-light-grey {
	color:#000!important;
	background-color:#f1f1f1!important
}

.w3-bar-block .sc-dropdown-hover {
	width:100%;
}

.w3-bar-block .sc-dropdown-hover .w3-button {
	width:100%;
	text-align:left;
	/*padding:8px 16px;*/
}

.w3-bar-item {
	width:100%;
	display:block;
	padding:8px 16px;
	text-align:left;
	border:none;
	white-space:normal;
	outline:none;
	box-sizing: border-box;
}

.sb-bar-item-section {
	width:100%;
	display:block;
	padding:8px 16px;
	text-align:left;
	border:none;
	white-space:normal;
	outline:none;
	box-sizing: border-box;
	background-color: #BEDEE2;
}

.w3-bar-item-in-line {
	width:100%;
	display: inline-block;
	padding:8px 16px;
	text-align:left;
	border:none;
	white-space:normal;
	outline:0;
	box-sizing: border-box;
}

.w3-dropdown-click,.sc-dropdown-hover {
	position:relative;
	display:inline-block;
	cursor:pointer;
}

.w3-button:hover {
	color:#000!important;
	background-color:#C0C0C0!important;
	transition: background-color 0.2s ease-in-out;
}

.main-body {
	margin-left: 250px;
	margin-top: 70px;
	position: absolute;
	padding-left: 0px;
	background-clip: border-box;
	display: inline-block;
	float: right;
	white-space: normal;
	/*transform: translateX(50%);*/
}

.main-body-header {
	background-color: #009688;
	background-clip: border-box;
	color: #000;
	height: 70px;
	padding: 10px;
	white-space: nowrap;
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	margin-left: 250px;
	display: block;
	z-index: 10;
}

.link-to-main-page {
	background-clip: border-box;
	/*background-color: #52A0C1;*/
	width:100%;
	display:block;
	padding:8px 16px;
	border:none;
	white-space:normal;
	outline:none;
	box-sizing: border-box;
	height: 70px;
	font-size: 20px;
	text-align: center;
	justify-content: center;
	line-height: 50px;
}

.main-body-paragraph {
	padding: 10px;
}

.sc-dropdown-hover {
	position:relative;
/*	display:inline-block;*/
	cursor:pointer;
}

.sc-dropdown-hover:hover .sc-dropdown-content {
	display: inline-block;
}

.sc-dropdown-hover:hover button:first-child {
	background-color: #C0C0C0;
}

.sc-dropdown-content {
	cursor:auto;
	color:#000;
	background-color:#F0F0F0;
	display:none;
	position:fixed;
	min-width:100px;
	max-width: 300px;
	width: 25%;
	margin:0;
	padding:0;
	z-index:99;
}

.img-style {
	max-width: 100%;
	height: auto;
	/*width: 1000px;*/
}

/*Edit Force*/

