
<pre class="prettyprint">
/*
 *
 *  Author: Don Nadeesha Tilakumara
 *  Project: Capstone Project
 *  Programming language: C
 *  Device: MSP432
 *  File: LCD_graphics.c
 *  Copyright 2016 NHP Electrical Engineering PTY LTD
 * 
 */

#include &lt;driverlib.h&gt;
#include "msp.h"
#include "LCD.h"
#include "font.h"

extern unsigned char font[];
extern unsigned char testImage[];
extern uint16_t RGB332to565lookupTable[256];

uint16_t _cursorx = 0;
uint16_t _cursory = 0;

//Swap two integers
void _swap_int16_t(uint16_t *a, uint16_t *b)
{
	uint16_t t = *a;
	*a = *b;
	*b = t;
}

//Setting up the LCD screen area
void LCD_setAddressWindow(uint8_t x0,uint8_t y0,uint8_t x1,uint8_t y1)
{
	LCD_Command(ST7735_CASET);
	LCD_Data(0x00);
	LCD_Data(x0);     // XSTART
	LCD_Data(0x00);
	LCD_Data(x1);     // XEND

	LCD_Command(ST7735_RASET); // Row addr set
	LCD_Data(0x00);
	LCD_Data(y0);     // YSTART
	LCD_Data(0x00);
	LCD_Data(y1);     // YEND

	LCD_Command(ST7735_RAMWR); // write to RAM
}

//Fill out a rectangel displayed on the LCD
void LCD_fillRect(uint16_t x0,uint16_t y0,uint16_t w,uint16_t h,uint16_t color)
{
	LCD_setAddressWindow(x0,y0,x0+w-1,y0+h-1);
	uint8_t topSet = color&gt;&gt;8;
	uint8_t bottomSet = color;

	CS_ACTIVE;
	CD_DATA;

	for(y0 = h;y0 &gt; 0;y0--){
		for(x0 = w;x0 &gt; 0;x0--){
			SPI_write(topSet);
			SPI_write(bottomSet);
		}
	}

	CS_IDLE;
}

//Fill out the whole LCD screen with a certain colour
void LCD_fillScreen(uint16_t color)
{
	LCD_fillRect(0,0,ST7735_TFTWIDTH,ST7735_TFTHEIGHT,color);
}

//Draw a pixel on the LCD
void LCD_drawPixel(uint16_t x0,uint16_t y0,uint16_t color)
{
	LCD_setAddressWindow(x0,y0,x0+1,y0+1);
	CS_ACTIVE;
	CD_DATA;

	SPI_write(color&gt;&gt;8);
	SPI_write(color);

	CS_IDLE;
}

//Command to set the color on the LCD
void LCD_pushColor(uint16_t color)
{
	SPI_write(color&gt;&gt;8);
	SPI_write(color);
}

//Draw a horizontal line on the LCD screen
void LCD_drawHLine(uint16_t startx, uint16_t endx, uint16_t y0,uint16_t color)
{
	uint16_t h = endx-startx+1;
	uint8_t topSet = color&gt;&gt;8;
	uint8_t bottomSet = color;

	LCD_setAddressWindow(startx,y0,endx,y0);
	CS_ACTIVE;
	CD_DATA;
	uint16_t i = 0;
	for(i = 0;i&lt;h;i++){
		SPI_write(topSet);
		SPI_write(bottomSet);
	}
	CS_IDLE;
}

//Draw a verticle line on the LCD with a specific color
void LCD_drawVLine(uint16_t starty, uint16_t endy, uint16_t x0,uint16_t color)
{
	uint16_t h = endy-starty+1;
	uint8_t topSet = color&gt;&gt;8;
	uint8_t bottomSet = color;

	LCD_setAddressWindow(x0,starty,x0,endy);
	CS_ACTIVE;
	CD_DATA;
	uint16_t i = 0;
	for(i = 0;i&lt;h;i++){
		SPI_write(topSet);
		SPI_write(bottomSet);
	}
	CS_IDLE;
}

//Draw a rectangle on the LCD
void LCD_drawRect(uint16_t x0, uint16_t y0, uint16_t w, uint16_t h,uint16_t color)
{
	LCD_drawHLine(x0,x0+w-1,y0,color);
	LCD_drawVLine(y0,y0+h-1,x0+w-1,color);
	LCD_drawHLine(x0,x0+w-1,y0+h-1,color);
	LCD_drawVLine(y0,y0+h-1,x0,color);

}

void LCD_drawRectInRect(uint16_t x0, uint16_t y0, uint16_t w, uint16_t h,uint16_t color)
{
	uint8_t numRect = 0;

	if(w&lt;h){
		numRect = w/4;
	}else{
		numRect = h/4;
	}
	uint8_t i = 0;

	for(i = 0;i&lt;numRect;i++){
		LCD_drawRect(x0+(2*i),y0+(2*i),w-(4*i),h-(4*i),color);
	}

}

//Draw a line on the LCD between a start point and the end point
void LCD_drawLine(uint16_t x0, uint16_t y0, uint16_t x1, uint16_t y1, uint16_t color)
{
	int16_t steep = abs(y1 - y0) &gt; abs(x1 - x0);
	if (steep) {
		_swap_int16_t(&amp;x0, &amp;y0);
		_swap_int16_t(&amp;x1, &amp;y1);
	}

	if (x0 &gt; x1) {
		_swap_int16_t(&amp;x0, &amp;x1);
		_swap_int16_t(&amp;y0, &amp;y1);
	}

	int16_t dx, dy;
	dx = x1 - x0;
    dy = abs(y1 - y0);

    int16_t err = dx / 2;
    int16_t ystep;

    if (y0 &lt; y1) {
    	ystep = 1;
    } else {
    	ystep = -1;
    }

    for (; x0&lt;=x1; x0++) {
    	if (steep) {
    		LCD_drawPixel(y0, x0, color);
    	} else {
    		LCD_drawPixel(x0, y0, color);
    	}
    	err -= dy;
    	if (err &lt; 0) {
    		y0 += ystep;
    		err += dx;
    	}
    }
}

//To test the line drawing functions
void LCD_testLinePattern(uint8_t spacing)
{
	uint16_t i = 0;
	for(i = 0;i&lt;(TFTHEIGHT/spacing);i++){
		LCD_drawLine(1,1,128,1+(spacing*i),ST7735_BLACK);
	}
	for(i = 0;i&lt;=(TFTWIDTH/spacing);i++){
		LCD_drawLine(1,1,1+(spacing*i),160,ST7735_BLACK);
	}

}

//Test fonts on the LCD
void LCD_testFont()
{
	//unsigned char font[] = {0x41, 0x21, 0x11, 0x09, 0x07};
	uint8_t i = 0;
	uint8_t j = 0;
	uint8_t data = 0;

	for(i = 0;i&lt;5;i++){
		data = font[(74*5)+i];
		for(j = 0;j&lt;8;j++,data&gt;&gt;=1){
			if(data &amp; 0x1){
				LCD_drawPixel(10+i,10+j,ST7735_BLACK);
			}
		}
	}
}

//Setting up the cursor position of the LCD
void LCD_setCursor(uint16_t x0,uint16_t y0)
{
	_cursorx = x0;
	_cursory = y0;
}

uint8_t LCD_getCursorX()
{
	return _cursorx;
}

uint8_t LCD_getCursorY()
{
	return _cursory;
}

//Write a letter on to the LCD
void LCD_writeFont(uint8_t c,uint16_t color)
{
	uint8_t i = 0;
	uint8_t j = 0;
	uint8_t data = 0;

	if((_cursorx + 5) &gt; ST7735_TFTWIDTH){
		_cursory += 8;
		_cursorx = 1;
	}

	for(i = 0;i&lt;5;i++){
		data = font[(c*5)+i];
		for(j = 0;j&lt;8;j++,data&gt;&gt;=1){
			if(data &amp; 0x1){
				LCD_drawPixel(_cursorx+i,_cursory+j,color);
			}
		}
	}

	_cursorx += 6;

}

//Set up the fond background
void LCD_writeFontBkGnd(uint8_t c,uint16_t color,uint16_t colorB)
{
	uint8_t i = 0;
	uint8_t j = 0;
	uint8_t data = 0;

	if((_cursorx + 5) &gt; ST7735_TFTWIDTH){
		_cursory += 8;
		_cursorx = 1;
	}

	for(i = 0;i&lt;5;i++){
		data = font[(c*5)+i];
		for(j = 0;j&lt;8;j++,data&gt;&gt;=1){
			if(data &amp; 0x1){
				LCD_drawPixel(_cursorx+i,_cursory+j,color);
			}else{
				LCD_drawPixel(_cursorx+i,_cursory+j,colorB);
			}
		}
	}

	_cursorx += 6;

}

//Write a text string on to the LCD
void LCD_writeText(char *text, uint8_t vspace, uint16_t color)
{

	for(text = text;*text != '\0';text++){
		if(*text == '\n'){
			_cursorx = 1;
			_cursory += 7 + vspace;
		}else{
			LCD_writeFont(*text,color);
		}

	}
}

//Set up the text background on the LCD
void LCD_writeTextBkGnd(char *text, uint8_t vspace, uint16_t color,uint16_t colorB)
{

	for(text = text;*text != '\0';text++){
		if(*text == '\n'){
			_cursorx = 1;
			_cursory += 7 + vspace;
		}else{
			LCD_writeFontBkGnd(*text,color,colorB);
		}

	}
}

//change 24 bit colors to 565 color scheme
uint16_t LCD_rgb565(uint8_t r,uint8_t g,uint8_t b)
{
	return ((r &amp; 0xF8) &lt;&lt; 8) | ((g &amp; 0xFC) &lt;&lt; 3) | (b &gt;&gt; 3);
}

//Test the 565 color scheme on the LCD
void LCD_test565Colors(uint16_t numColors,uint8_t x0,uint8_t y0, uint8_t x1,uint8_t y1)
{
	LCD_setAddressWindow(x0,y0,x1,y1);
	CS_ACTIVE;
	CD_DATA;
	uint16_t i = 0;
	uint16_t color = 0x0000;
	for(i = 0;i&lt;numColors;i++){
		LCD_pushColor(color+i);
	}
	CS_IDLE;
}

uint16_t LCD_332to565(uint8_t color)
{
	//uint16_t color16 = color;
	//return ((0x3800&amp;(color16&lt;&lt;7)) | (0x00E0&amp;(color16&lt;&lt;4)) | (0x0003&amp;color16) );
	//return color*256;
	return RGB332to565lookupTable[color];
}

void LCD_test332Colors(uint16_t numColors,uint8_t x0,uint8_t y0, uint8_t x1,uint8_t y1)
{
	LCD_setAddressWindow(x0,y0,x1,y1);
	CS_ACTIVE;
	CD_DATA;
	uint16_t i = 0;
	for(i = 0;i&lt;numColors;i++){
		LCD_pushColor(LCD_332to565(i));
	}
	CS_IDLE;
}

//Printing a 8 bit test image to the LCD
void LCD_print8bitTestImage()
{
	LCD_setAddressWindow(0,0,127,159);
	CS_ACTIVE;
	CD_DATA;
	uint16_t i = 0;
	unsigned char *imgPtr = testImage;
	for(i = 0;i&lt;20480;i++){
		LCD_pushColor(LCD_332to565(*imgPtr));
		imgPtr++;
	}
	CS_IDLE;
}

//Printing a 16 bit test image to the LCD
void LCD_print16bitTestImage(uint16_t numByte)
{
	LCD_setAddressWindow(0,0,127,159);
	CS_ACTIVE;
	CD_DATA;
	uint16_t i = 0;
	unsigned char *imgPtr = testImage;
	for(i = 0;i&lt;numByte;i++){
		SPI_write(*imgPtr);
		imgPtr++;
	}
	CS_IDLE;
}


</pre>