
<pre class="prettyprint">

/*  Autor: Don Nadeesha Tilakumara
*   Project: Game Console
*   Programming Language: C
*   Copyright Don Nadeesha Tilakumara
*/

#include "game_console.h" 
#include &lt;util/delay.h&gt;
#include &lt;util/delay.h&gt;
#include &lt;avr/interrupt.h&gt;
#include &lt;avr/signal.h&gt;
#include &lt;avr/io.h&gt;

byte frame_buffer[MAX_PAGES][COLUMN_PIXELS];
int i = 0;
unsigned int j = 0;
unsigned int x = 0;
unsigned int y = 0;
unsigned int first_press = TRUE;
unsigned int fram_start_address = 0;

//Forward declaration of functions
void setPWM1();
void setPWM2();
void setBrightness1(unsigned int brightness);
void setBrightness2(unsigned int brightness);
void SPI_MasterInit(void);
byte SPI_MasterTransmit(unsigned char cData);
void LCD_command_tx(unsigned char command);
void LCD_data_tx(unsigned char tx_byte);
byte LCD_initialise(void);
byte select_column (byte column);
byte select_page(byte page);
void clear_LCD(void);
void initialise_LCD_midpoint();
void check_Btn_Press_Update_Display();
void brightness_Control();
void check_Battery_Low();
void interupt_Initialise();
unsigned int check_And_Set_i();


/**set and initialise the PWM connected to the pin PD7**/
void setPWM1()
{
    TCCR2|=(1&lt;&lt;WGM20)|(1&lt;&lt;WGM21)|(1&lt;&lt;COM21)|(1&lt;&lt;CS20);
    DDRD|=(1&lt;&lt;PD7);
}

/**set and initialise the PWM connected to the pin PD5**/
void setPWM2()
{
    TCCR1A|=(0&lt;&lt;WGM11)|(1&lt;&lt;WGM10)|(1&lt;&lt;COM1A1)|(1&lt;&lt;COM1B1);
    TCCR1B|= (0&lt;&lt;WGM12)|(1&lt;&lt;CS10);
    DDRD|=(1&lt;&lt;PD5);
}

/**set the brightness of half of the LCD by setting the OCR2 register**/
void setBrightness1(unsigned int brightness)
{
    OCR2 = brightness;
}

/**set the brightness of the other half of the LCD by setting OCR1A and OCR1B register**/
void setBrightness2(unsigned int brightness)
{
    OCR1A = brightness;
    OCR1B = brightness;
}

/**initialise the SPI to communicate with LCD**/
void SPI_MasterInit(void)
{
    SET_MC_MASTER;
    SET_MC_MASTER_DIR(OUT);
    /* Set MOSI and SCK output, all others input */
    MOSI_DIR(OUT);
    SCK_DIR(OUT);
    //DDRB = (1&lt;&lt;PB5)|(1&lt;&lt;PB7);
    /* Enable SPI, Master, set clock rate fck/16 */
    SPCR |=((1&lt;&lt;SPE)|(1&lt;&lt;MSTR)|(1&lt;&lt;CPOL)|(1&lt;&lt;CPHA)); // setting the registers.
}

/**transmit a byte of data through SPI**/
byte SPI_MasterTransmit(unsigned char cData)
{
    /* Start transmission */
    SPDR = cData;
    /* Wait for transmission complete */
    while(!(SPSR &amp; (1&lt;&lt;SPIF)))
    ;
    return(SPDR);
}

/**send a command byte to the LCD**/
void LCD_command_tx(unsigned char command)
{
    //SPI_MasterInit();
    LCD_CHIP_SELECT;
    LCD_COMMAND;
    SPI_MasterTransmit(command);
    LCD_CHIP_DESELECT;
}

/**send a data byte to the LCD**/
void LCD_data_tx(unsigned char tx_byte)
{
    //SPI_MasterInit();
    LCD_CHIP_SELECT;
    LCD_DATA;
    SPI_MasterTransmit(tx_byte);
    LCD_CHIP_DESELECT;
}

/**initialise the LCD at the startup**/
byte LCD_initialise(void)
{
    LCD_RST(LOW);
    _delay_ms(1);
    LCD_RST(HIGH);
    _delay_ms(5);
    LCD_command_tx(0x40);//Display start line 0
    LCD_command_tx(0xA0);//SEG reverse
    LCD_command_tx(0xC0);//Normal COM0~COM63
    
    LCD_command_tx(0xA4);//Disable -&gt; Set All Pixel to ON
    LCD_command_tx(0xA6);//Display inverse off
    _delay_ms(120);
    LCD_command_tx(0xA2);//Set LCD Bias Ratio A2/A3
    LCD_command_tx(0x2F);//Set Power Control 28...2F
    LCD_command_tx(0x27);//Set VLCD Resistor Ratio 20...27
    LCD_command_tx(0x81);//Set Electronic Volume
    LCD_command_tx(0x10);//Set Electronic Volume 00...3F
    LCD_command_tx(0xFA);//Set Adv. Program Control
    LCD_command_tx(0x90);//Set Adv. Program Control x00100yz yz column wrap x Temp Comp
    LCD_command_tx(0xAF);//Display on
    
    return(TRUE);
}

/**select a column in the LCD**/
byte select_column (byte column)
{
    byte page_cmd_address_MSB;
    byte page_cmd_address_LSB;
    page_cmd_address_LSB =(CMD_COL_LSB | (column&amp;0x0F));
    page_cmd_address_MSB =(CMD_COL_MSB | (column &gt;&gt; 4));
    LCD_command_tx(page_cmd_address_MSB);
    LCD_command_tx(page_cmd_address_LSB);
    
    return(TRUE);
}

/**select a page in the LCD**/
 byte select_page(byte page) //lec
{
    byte page_cmd_address;
    if(page&gt;MAX_PAGES)
    {
        page = MAX_PAGES-1;
    }
    page_cmd_address = (CMD_PAGE | page);
    LCD_command_tx(page_cmd_address);
    return(TRUE);
    }

/**clear the whole LCD screen**/
void clear_LCD(void)
{
    unsigned int page;
    unsigned int column;
    for(page = MIN_PAGES;page&lt;MAX_PAGES;page++)
    {
        select_page(page);
        for(column = MIN_COLUMNS;column&lt;MAX_COLUMNS;column++)
        {
            select_column(column);
            LCD_data_tx(LOW);
            frame_buffer[page][column] = LOW;
        }
    }
    initialise_LCD_midpoint();

}

/**set the page and column to select the midpoint(start point) of the screen**/
void initialise_LCD_midpoint()
{
    select_page(4);
    select_column(80);
    LCD_data_tx(0x01);
    frame_buffer[4][80] = 0x01;
    y = 32;
    x = 80;
}

/**check the edges of the display to keep the user inside the available screen area**/
byte check_Display_Limits(unsigned int check)
{
    switch(check)
    {
        case 1:
        if(y&lt;63)
        {
            return (TRUE);
        }
        return (FALSE);
        break;
        case 2:
        if(y&gt;0)
        {
            return (TRUE);
        }
        return (FALSE);
        break;
        case 3:
        if(x&gt;30)
        {
            return (TRUE);
        }
        return (FALSE);
        break;
        case 4:
        if(x&lt;131)
        {
            return (TRUE);
        }
        return (FALSE);
        break;
        return (FALSE);

    }
    
}

/**check if there is a press of a button and update the display accrding the
press**/
void check_Btn_Press_Update_Display()
{
    unsigned int page;
    unsigned int column;
    unsigned int pos;

    if((~UP_BUTTON)&amp;&amp;(check_Display_Limits(UP)))
    {
        y++;
        page = y/8;
        column = x;
        pos = y%8;
        select_page(page);
        select_column(column);
        LCD_data_tx((1&lt;&lt;pos)|(frame_buffer[page][column]));
        frame_buffer[page][column] |= (1&lt;&lt;pos);
        
        while((~UP_BUTTON)&amp;&amp;(check_Display_Limits(UP)))
        {
            if(first_press)
            {
                _delay_ms(LONG_PRESS_DELAY);
                first_press = FALSE;
            }
            else
            {
                _delay_ms(SHORT_PRESS_DELAY);
                y++;
                page = y/8;
                column = x;
                pos = y%8;
                select_page(page);
                select_column(column);
                LCD_data_tx((1&lt;&lt;pos)|(frame_buffer[page][column]));
                frame_buffer[page][column] |= (1&lt;&lt;pos);
            }
        }
        first_press = TRUE;
    }

    if((~DOWN_BUTTON)&amp;&amp;(check_Display_Limits(DOWN)))
    {
        y--;
        page = y/8;
        column = x;
        pos = y%8;
        select_page(page);
        select_column(column);
        LCD_data_tx((1&lt;&lt;pos)|(frame_buffer[page][column]));
        frame_buffer[page][column] |= (1&lt;&lt;pos);
        while((~DOWN_BUTTON)&amp;&amp;(check_Display_Limits(DOWN)))
        {
            if(first_press)
            {
                _delay_ms(LONG_PRESS_DELAY);
                first_press = FALSE;
            }
            else
            {
                _delay_ms(SHORT_PRESS_DELAY);
                y--;
                page = y/8;
                column = x;
                pos = y%8;
                select_page(page);
                select_column(column);
                LCD_data_tx((1&lt;&lt;pos)|(frame_buffer[page][column]));
                frame_buffer[page][column] |= (1&lt;&lt;pos);
            }
        }
        first_press = TRUE;
    }

    if((~LEFT_BUTTON)&amp;&amp;(check_Display_Limits(LEFT)))
    {
        x--;
        page = y/8;
        column = x;
        pos = y%8;
        select_page(page);
        select_column(column);
        LCD_data_tx((1&lt;&lt;pos)|(frame_buffer[page][column]));
        frame_buffer[page][column] |= (1&lt;&lt;pos);
        while((~LEFT_BUTTON)&amp;&amp;(check_Display_Limits(LEFT)))
        {
            if(first_press)
            {
                _delay_ms(LONG_PRESS_DELAY);
                first_press = FALSE;
            }
            else
            {
                _delay_ms(SHORT_PRESS_DELAY);
                x--;
                page = y/8;
                column = x;
                pos = y%8;
                select_page(page);
                select_column(column);
                LCD_data_tx((1&lt;&lt;pos)|(frame_buffer[page][column]));
                frame_buffer[page][column] |= (1&lt;&lt;pos);
            }
        }
        first_press = TRUE;
    }

    if((~RIGHT_BUTTON)&amp;&amp;(check_Display_Limits(RIGHT)))
    {
        x++;
        page = y/8;
        column = x;
        pos = y%8;
        select_page(page);
        select_column(column);
        LCD_data_tx((1&lt;&lt;pos)|(frame_buffer[page][column]));
        frame_buffer[page][column] |= (1&lt;&lt;pos);
        while((~RIGHT_BUTTON)&amp;&amp;(check_Display_Limits(RIGHT)))
        {
            if(first_press)
            {
                _delay_ms(LONG_PRESS_DELAY);
                first_press = FALSE;
            }
            else
            {
                _delay_ms(SHORT_PRESS_DELAY);
                x++;
                page = y/8;
                column = x;
                pos = y%8;
                select_page(page);
                select_column(column);
                LCD_data_tx((1&lt;&lt;pos)|(frame_buffer[page][column]));
                frame_buffer[page][column] |= (1&lt;&lt;pos);
            }
        }
        first_press = TRUE;
    }
}

unsigned int check_And_Set_i()
{
    switch(i)
    {
        case 0:
        i++;
        return(i-1);
        break;

        case 1:
        i++;
        return(i-1);
        break;

        case 2:
        i++;
        return(i-1);
        break;

        case 3:
        i++;
        return(i-1);
        break;

        case 4:
        i++;
        return(i-1);
        break;

        case 5:
        i = 0;
        return(i+5);
        break;

    }
}

/**control the brightness of the LCD baklight**/
void brightness_Control()
{
    unsigned int b_val = 0;
    
    if((~ACN2_BUTTON))
    {
        b_val = check_And_Set_i();
        setBrightness1(b_val*TEN_PERCENT_INTERVAL_VAL);
        setBrightness2(b_val*TEN_PERCENT_INTERVAL_VAL);
        while (~ACN2_BUTTON)
        {
        ;
        }
    }
}

/**ADC for battery low**/
void check_Battery_Low()
{
    //use PD7 input for ADC input
    //use reference voltage as internal reference of 2.56V
    //unsigned int ADC_return = 0;
    ADMUX = (1&lt;&lt;REFS0)|(1&lt;&lt;REFS1)|(1&lt;&lt;MUX2)|(1&lt;&lt;MUX1)|(1&lt;&lt;MUX0);
    ADCSRA = (1&lt;&lt;ADEN)|(1&lt;&lt;ADSC)|(1&lt;&lt;ADPS2)|(1&lt;&lt;ADPS0);

    while (!(ADCSRA&amp;(1&lt;&lt;ADIF)))
    {
    ;
    }
    if(ADC &lt; BATT_LOW_VALUE)
    {
        BAT_LOW_LED(ON);
    }
    
}

void interupt_Initialise()
{
    MCUCR = (1&lt;&lt;ISC01)|(1&lt;&lt;ISC00);
    GICR = (1&lt;&lt;INT0);
    SREG |= (1&lt;&lt;GLOBAL_INTERRUPT);
}

ISR(INT0_vect)
{
    check_Btn_Press_Update_Display();
    brightness_Control();   
}

void FramSetOpCode(byte opCode)
{
    
    SPI_MasterTransmit(opCode);
    //SET_RAM_CS_PIN(HIGH);
}

void FramSelectAddressWriteData(unsigned int address,byte data)
{
    byte MSB_address = CMD_COL_MSB|(address&gt;&gt;8);
    byte LSB_address = CMD_COL_LSB|address;
    SET_RAM_CS_PIN(LOW);
    FramSetOpCode(WREN);
    FramSetOpCode(WRITE);
    SPI_MasterTransmit(MSB_address);
    SPI_MasterTransmit(LSB_address);
    SPI_MasterTransmit(data);
    SET_RAM_CS_PIN(HIGH);
}

byte FramSelectAddressReadData(unsigned int address)
{
    byte returnByte = 0;
    byte MSB_address = CMD_COL_MSB|(address&gt;&gt;8);
    byte LSB_address = CMD_COL_LSB|address;
    //SET_RAM_CS_PIN(LOW);
    FramSetOpCode(READ);
    //FramSetOpCode(WRITE);
    SPI_MasterTransmit(MSB_address);
    SPI_MasterTransmit(LSB_address);
    returnByte = SPI_MasterTransmit(ON);
    SET_RAM_CS_PIN(HIGH);
}

void saveToFram()
{
    
}

int main(void)
{
    
    
    BAT_LOW_LED(OFF); //Make sure it is off before changing direction
    BAT_LOW_LED_DIR(OUT); //Set BATTERY LED I/Os as outputs.

    UP_BUTTON_DIR(IN); //Set UP_BUTTON I/Os as input.
    DOWN_BUTTON_DIR(IN);
    RIGHT_BUTTON_DIR(IN);
    LEFT_BUTTON_DIR(IN);
    ACN3_BUTTON_DIR(IN);
    ACN2_BUTTON_DIR(IN);
    ACN1_BUTTON_DIR(IN);
    INTERRUPT_DIR(IN);
    
    LCD_CS_DIR(OUT);
    LCD_CD_DIR(OUT);
    LCD_RST_DIR(OUT);
    LCD_DATA_DIR(OUT);
    LCD_CHIP_DESELECT;

    RAM_CS_DIR(OUT);
    
    //SCK_SET_LOW;
    //SCK_SET_HIGH;

    SET_UP_BUTTON_PIN(ON);
    SET_DOWN_BUTTON_PIN(ON);
    SET_RIGHT_BUTTON_PIN(ON);
    SET_LEFT_BUTTON_PIN(ON);
    SET_ACN1_BUTTON_PIN(ON);
    SET_ACN2_BUTTON_PIN(ON);
    SET_ACN3_BUTTON_PIN(ON);

    setPWM1();
    setPWM2();
    setBrightness1(0);
    setBrightness2(0);

    SPI_MasterInit();
    LCD_initialise();
    //select_column(0x64);//selects the 55th column
    clear_LCD();

    initialise_LCD_midpoint();

    

    while (TRUE)//Master loop always true so always loop
    {
        
        interupt_Initialise();
        if(~ACN3_BUTTON)
        {
            clear_LCD();
        }

        if((~ACN1_BUTTON) &amp;&amp; (j == 0))
        {
            FramSelectAddressWriteData(0,0xFF);
            j = 1;
            clear_LCD();
            while(~ACN1_BUTTON)
            {
            ;
            }
        }
        
        if((~ACN1_BUTTON) &amp;&amp; (j == 1))
        {
            frame_buffer[4][80] = FramSelectAddressReadData(0);
            select_page(4);
            select_column(80);
            LCD_data_tx(frame_buffer[4][80]);
            j = 0;
            while(~ACN1_BUTTON)
            {
            ;
            }
        }

        check_Battery_Low();


    }

}
</pre>