
<!-- Common Side bar for all the pages -->

	<div id="id-side-bar" class="w3-sidebar w3-light-grey w3-bar-block card">
  		<a href="/" class="link-to-main-page">Don Tilakumara</a>
  		<h3 class="sb-bar-item-section">Projects</h3>

  		<div class="sc-dropdown-hover">
  			<button class="w3-bar-item-in-line w3-button sc-highlight-origin">
  				Digital Oscilloscope
  				<span style="float: right; padding-right: 10px">&#x25BA</span>
  			</button>
  			<div class="sc-dropdown-content card">
  				<a href="dso_schematics.html" class="w3-bar-item-in-line w3-button">Overview and Schematics</a>
  				<a href="dso_pcb.html" class="w3-bar-item-in-line w3-button">PCB</a>
  			</div>
  		</div>

        <div class="sc-dropdown-hover">
            <button class="w3-bar-item-in-line w3-button sc-highlight-origin">
                Doppler Radar
                <span style="float: right; padding-right: 10px">&#x25BA</span>
            </button>
            <div class="sc-dropdown-content card">
                <a href="doppler_overview.html" class="w3-bar-item-in-line w3-button">Overview and Antenna Design</a>
                <a href="doppler_code_page.html" class="w3-bar-item-in-line w3-button">Programming Code</a>
            </div>
        </div>

  		<div class="sc-dropdown-hover">
  			<button class="w3-bar-item-in-line w3-button sc-highlight-origin">
  				Bluetooth LE MK1
  				<span style="float: right; padding-right: 10px">&#x25BA</span>
  			</button>
  			<div class="sc-dropdown-content card">
  				<a href="bluetooth_mk1.html" class="w3-bar-item-in-line w3-button">Overview and PCB</a>
  			</div>
  		</div>

  		<div class="sc-dropdown-hover">
  			<button class="w3-bar-item-in-line w3-button sc-highlight-origin">
  				Bluetooth LE MK2
  				<span style="float: right; padding-right: 10px">&#x25BA</span>
  			</button>
  			<div class="sc-dropdown-content card">
  				<a href="bluetooth_mk2.html" class="w3-bar-item-in-line w3-button">Overview and PCB</a>
  			</div>
  		</div>

        <div class="sc-dropdown-hover">
            <button class="w3-bar-item-in-line w3-button sc-highlight-origin">
                Bluetooth LE Training
                <span style="float: right; padding-right: 10px">&#x25BA</span>
            </button>
            <div class="sc-dropdown-content card">
                <a href="bluetooth_training_pcb.html" class="w3-bar-item-in-line w3-button">Overview and PCB</a>
                <a href="bluetooth_training_code_page.html" class="w3-bar-item-in-line w3-button">Programming Code</a>
            </div>
        </div>

  		<div class="sc-dropdown-hover">
  			<button class="w3-bar-item-in-line w3-button sc-highlight-origin">
  				Zigbee Smart Switch
  				<span style="float: right; padding-right: 10px">&#x25BA</span>
  			</button>
  			<div class="sc-dropdown-content card">
  				<a href="zigbee_pcb.html" class="w3-bar-item-in-line w3-button">Overview and PCB</a>
  			</div>
  		</div>

  		<div class="sc-dropdown-hover">
  			<button class="w3-bar-item-in-line w3-button sc-highlight-origin">
  				AC DC converter
  				<span style="float: right; padding-right: 10px">&#x25BA</span>
  			</button>
  			<div class="sc-dropdown-content card">
  				<a href="acdc_schematics.html" class="w3-bar-item-in-line w3-button">Overview and Schematics</a>
  				<a href="acdc_pcb.html" class="w3-bar-item-in-line w3-button">PCB</a>
  			</div>
  		</div>

  		<div class="sc-dropdown-hover">
  			<button class="w3-bar-item-in-line w3-button sc-highlight-origin">
  				Motor Controller
  				<span style="float: right; padding-right: 10px">&#x25BA</span>
  			</button>
  			<div class="sc-dropdown-content card">
  				<a href="motor_c_pcb.html" class="w3-bar-item-in-line w3-button">Overview and PCB</a>
  			</div>
  		</div>

        <div class="sc-dropdown-hover">
            <button class="w3-bar-item-in-line w3-button sc-highlight-origin">
                Game Console
                <span style="float: right; padding-right: 10px">&#x25BA</span>
            </button>
            <div class="sc-dropdown-content card">
                <a href="game_console_code_page.html" class="w3-bar-item-in-line w3-button">Programming Code</a>
            </div>
        </div>

        <div class="sc-dropdown-hover">
            <button class="w3-bar-item-in-line w3-button sc-highlight-origin">
                Android Application
                <span style="float: right; padding-right: 10px">&#x25BA</span>
            </button>
            <div class="sc-dropdown-content card">
                <a href="android_application_code_page.html" class="w3-bar-item-in-line w3-button">Overview and Programming Code</a>
            </div>
        </div>

  		<!-- <h3 class="sb-bar-item-section">Resume</h3> -->

	</div>