
<!-- Common Side bar for all the pages -->

	<div id="id-side-bar" class="w3-sidebar w3-light-grey w3-bar-block card">
  		<a href="/" class="link-to-main-page">Don Tilakumara</a>
  		<h3 class="sb-bar-item-section">Projects</h3>

  		<div class="sc-dropdown-hover">
  			<button class="w3-bar-item-in-line w3-button sc-highlight-origin">
  				Digital Oscilloscope
  				<span style="float: right; padding-right: 10px">&#x25BA</span>
  			</button>
  			<div class="sc-dropdown-content card">
  				<a href="dso_schematics.html" class="w3-bar-item-in-line w3-button">Overview and Schematics</a>
  				<a href="dso_pcb.html" class="w3-bar-item-in-line w3-button">PCB</a>
  				<a href="dso_code.html" class="w3-bar-item-in-line w3-button">Code Snippet</a>
  			</div>
  		</div>

  		<div class="sc-dropdown-hover">
  			<button class="w3-bar-item-in-line w3-button sc-highlight-origin">
  				Bluetooth Prototype 1
  				<span style="float: right; padding-right: 10px">&#x25BA</span>
  			</button>
  			<div class="sc-dropdown-content card">
  				<a href="#" class="w3-bar-item-in-line w3-button">PCB</a>
                <a href="#" class="w3-bar-item-in-line w3-button">Code Snippet</a>
  			</div>
  		</div>

  		<div class="sc-dropdown-hover">
  			<button class="w3-bar-item-in-line w3-button sc-highlight-origin">
  				Bluetooth Prototype 2
  				<span style="float: right; padding-right: 10px">&#x25BA</span>
  			</button>
  			<div class="sc-dropdown-content card">
  				<a href="#" class="w3-bar-item-in-line w3-button">PCB</a>
                <a href="#" class="w3-bar-item-in-line w3-button">Code Snippet</a>
  			</div>
  		</div>

  		<div class="sc-dropdown-hover">
  			<button class="w3-bar-item-in-line w3-button sc-highlight-origin">
  				Zigbee Smart Switch
  				<span style="float: right; padding-right: 10px">&#x25BA</span>
  			</button>
  			<div class="sc-dropdown-content card">
  				<a href="zigbee_pcb.html" class="w3-bar-item-in-line w3-button">Overview and PCB</a>
  			</div>
  		</div>

  		<div class="sc-dropdown-hover">
  			<button class="w3-bar-item-in-line w3-button sc-highlight-origin">
  				AC DC converter
  				<span style="float: right; padding-right: 10px">&#x25BA</span>
  			</button>
  			<div class="sc-dropdown-content card">
  				<a href="acdc_schematics.html" class="w3-bar-item-in-line w3-button">Overview and Schematics</a>
  				<a href="acdc_pcb.html" class="w3-bar-item-in-line w3-button">PCB</a>
  			</div>
  		</div>

  		<div class="sc-dropdown-hover">
  			<button class="w3-bar-item-in-line w3-button sc-highlight-origin">
  				Motor Controller
  				<span style="float: right; padding-right: 10px">&#x25BA</span>
  			</button>
  			<div class="sc-dropdown-content card">
  				<a href="motor_c_pcb.html" class="w3-bar-item-in-line w3-button">Overview and PCB</a>
  			</div>
  		</div>

  		<h3 class="sb-bar-item-section">Resume</h3>

	</div>