
<!-- Common Side bar for all the pages -->
<div class="ontop">
  <div class="ceLogoNav">
      <img src="resources\imgs\ce_main\BEST CARE ESSENTIALS LOGO.svg" alt="CE" class="imgCE"/>
  </div>
	<div class="topnav">
  
    <a href="index.html" class="topNavFonts">Home</a> 
    <a href="#" class="topNavFonts">About us</a>

    <div class="dropdown">
      <button class="dropbtn topNavFonts">Products</button>
      <div class="dropdown-content">
        <a class="dropdown_item-1" href="#hello1"><button class="topNavFonts">Patient Warming Systems</button></a>
        <a class="dropdown_item-2" href="surgical_masks.html"><button class="topNavFonts">Surgical Masks</button></a>
        <a class="dropdown_item-3" href="n95_masks.html"><button class="topNavFonts">N95 Masks</button></a>
        <a class="dropdown_item-4" href="#hello3"><button class="topNavFonts">Sterilization Wraps</button></a>
      </div>
    </div>

    <a href="#" class="topNavFonts">Support</a>
    <a href="#" class="topNavFonts" style= "margin-right: 12rem;">Contact Us</a>
    <img src="resources\imgs\ce_main\CallButton.svg" alt="CE" class="topNavFonts roundIcon blueBackground"/>
    <img src="resources\imgs\ce_main\EmailButton.svg" alt="CE" class="topNavFonts roundIcon yellowBackground"/>
	</div>
</div>

<!-- &#9660 -->